---
layout: default
title: Yishan Zhang
---
<div class="background bg-index">
<div class="bg-inner">
{% include navigation.html %}
<section class="intro">
<div class="intro-top">
  <h1 class="intro-title">I’m Yishan. I design space in physical and digital worlds.</h1>
  <h5 class="intro-subtitle">Architect and urban designer who dived into the world of digital creation. Currently working with tech startup founders, engineers, and designers to create websites, mobile Apps, and brand identity.</h5>
</div>

<div class="intro-bottom">
  <img src="assets/img/yishan.jpg" class="yishan-self">
  <img src="assets/img/yishanCats.jpg" class="yishan-cats"">
  <a href="#workjump"><button class="superbutton">View Work</button></a>
  <div class="generalDescription">
    <div class="selfDescription">
      <div>
        <p class="self-section">Hi I'm Yishan</p>
        <h5 class="self-intro">I was born in China and spent my adult life in New York and the Bay area. I went to school for architecture and urban design but started to grow an interest in product design through talking to people and the internet. You can find me in the gym, dancing and spoiling my two cats outside of work.</h5>
      </div>
      <div>
        <p class="self-section">Things I've done</p>
        <div class="experience">
          <div class="experienceItem">
            <h5>Freelance</h5>
            <h5>Product Design</h5>
          </div>
          <div class="experienceItem">
            <h5>SF Public Works</h5>
            <h5>Urban designer</h5>
          </div>
          <div class="experienceItem">
            <h5>Stantec</h5>
            <h5>Architect</h5>
          </div>
          <div class="experienceItem">
            <h5>Cornell</h5>
            <h5>Masters in architecture</h5>
          </div>
          <div class="experienceItem">
            <h5>ZJU</h5>
            <h5>Bachelors of Urban Design</h5>
          </div>
        </div>
      </div>
      <div class="selfDescription-meta">
        <h5>Oakland, CA</h5>
        <h5><a href="mailto:yishan.zhang007@gmail.com">yishan.zhang007@gmail.com</a></h5>
      </div>
    </div>
  </div>
</div>

</section>

<div class="seperator" id="workjump">
  <div><h6>Currently working on</h6></div>
  <div><h6>2022</h6></div>
</div>
<section" class="design cases">
{% for post in site.posts %}
 
    <div class="caseStudy">
      <div class="caseMetadata">
        <h2>{{ post.title }}</h2>
        <div class="metadataItem">
          <p>Client</p>
          <p>{{ post.client }}</p>
        </div>
        <div class="metadataItem">
          <p>Field</p>
          <p>{{ post.field }}</p>
        </div>
        <div class="metadataItem">
          <p>My role</p>
          <p>{{ post.role }}</p>
        </div>     
        <div class="metadataItem">
          <p>Duration</p>
          <p>{{ post.duration }}</p>
        </div>
        <p class="case-description">{{ post.description_long }}</p>
      </div>
      
      <div class="image-container">
        <a href="{{ post.url }}" class="caseStudy-wrapper">
        <img src="{{ post.imglink }}" alt="">
        <button class="superbutton viewCase">View Case</button>
        </a>
      </div>
    </div>

{% endfor %}
</section>

<div class="seperator">
  <div><h5>As an architect I designed</h5></div>
  <div><h5>2022</h5></div>
</div>

<section class="arch cases">
<img src="assets/img/communityCenter.jpg" alt="">
<div class="arch-description">
  <h2>Southeast Community Center</h2>
  <h5>Design, Construction & Project Management</h5>
  <p>As one of the major projects I worked on at the City of San Francisco, I was involved in the design, construction administration and project management of the Southeast Community Center in India Basin neighborhood in San Francisco. The project will complete in May 2022.</p>
</div>
</section>
{% include footer.html %}
</div>
</div>