$color-primary: #365732;
$color-primary-neutral: #2C302B;
$color-secondary: #9AB597;
$color-secondary-neutral: #7A7C79;
$color-wash:#F8FAF6;
$color-neutral:#FFF;
$color-accent: #E05B33;

$radius-small: 16px;
$radius-large: 40px;
$line-normal: 2px;

$size-body: 1260px;
$speed-fast: 300ms;
$speed-medium: 500ms;
$speed-slow: 800ms;
$speed-instant: 0ms;
$timing-easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);

@keyframes fadeIn {
    from {
        opacity:0;
        // transform: translateY(8px);
    }
    to {
        opacity: 1;
        // transform: translateY(0);
    }
  }